<%- include('includes/head', { pageTitle: 'An error occurred' }) %>
    </head>
    <body>
        <%- include('includes/header') %>
            <main>
                <h1>Could not find ressource.</h1>
                <p>Please try again later.</p>
                <p><a href="/" class="btn">Back to safety</a></p>
            </main>
            <%- include('includes/footer') %>