<%- include('../shared/includes/head', { pageTitle: 'Welcome' }) %>
  <meta name="description" content="Best place on the web to order alcohol from all around the world!">

  <link rel="stylesheet" href="/styles/css/main.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.3/gsap.min.js"></script>

  </head>

  <body>
    <div class="header">
      <%- include('../shared/includes/header') %>
    </div>

    <div class="main-hero">
      <div class="hero">
        <div class="text-wrapper">
          <span class="letters">A</span>
          <span class="letters">N</span>
          <span class="letters">&nbsp;</span>
          <span class="letters">A</span>
          <span class="letters">M</span>
          <span class="letters">B</span>
          <span class="letters">R</span>
          <span class="letters">O</span>
          <span class="letters">S</span>
          <span class="letters">I</span>
          <span class="letters">A</span>
          <span class="letters">L</span>
          <span class="letters">&nbsp;</span>
          <span class="letters">J</span>
          <span class="letters">O</span>
          <span class="letters">U</span>
          <span class="letters">R</span>
          <span class="letters">N</span>
          <span class="letters">E</span>
          <span class="letters">Y</span>
        </div>
        <img src="/images/hero.jpg" alt="heroBanner">
      </div>
    </div>

    <div class="overlay"></div>

    <script src="/scripts/gsap.js"></script>

  </body>

  </html>